.shoply__app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.rating {
    margin: 0.1rem;
}
h1 {
    font-size: 1.8rem;
    padding: 00.1rem;
}
h2 {
    font-size: 1.4rem;
    padding: 00.1rem;
    margin: 0;
}
